.left{
	
	min-width: 10%;

	width: 50%;
	height: 2000%;
	text-align: center;
    margin-top: 250px;
    margin-left: 100px;
	margin-right: 100px;
	border-style: solid;
	border-radius: 25px;

	background:rgba(255,255,255, 0.5);


}